body {
    background: cornsilk;
    margin: 0;
}

header{
    background: aqua;
    background: url("../images/header_background.png");
    height: 400px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
nav ul li{
    padding: 0;
    margin: auto;
    font-size: 200%;
}
nav a{
    margin: 20px;
    color: #4af422;
    text-decoration: none;
    transition: all 300ms;
}
a:hover{
    color: brown;
    font-size: 1.5em;
}